<script src="/js/flash.js"></script>
<script src="/js/loginValidation.js"></script>
<script src="/js/registrationValidation.js"></script>
<script src="/js/blogValidation.js"></script>
<div>
  <div class="footer bg-info">
    <small class="text-dark font-weight-bold"
      >&copy; All right reserve to Blogger
    </small>
  </div>
</div>
